.Everything {
    background-image: url("https://wallpaperaccess.com/full/3485307.jpg");
    background-size: cover;
    height: 100%;
    overflow-y:visible;
    overflow-x: hidden;
}

@media screen and (min-width:600px){
.Page {
    background: #FDFDFD;
    width: 75vw;
    height: 100%;
    padding: 5px;
    margin: 0px auto
}
}

@media screen and (max-width:600px){
.Page {
    background: #FDFDFD;
    width: 100vw;
    height: 100%;
    padding: 5px;
    margin: 0px auto
}
}