.Everything {
    background-image: url("https://wallpaperaccess.com/full/3485307.jpg");
    background-size: cover;
    font-family: cursive;
}

.Page {
    background: #FDFDFD;
    width: 1000px;
    height: 75vh;
    padding: 5px;
    margin: 0px auto
}