.spelerPicture {
    width: 300px
}

.Speler {
    background: #FDFDFD;
    padding: 0px -50px;
    position: relative;
    left :-200px;
    margin: 10px 200px;
    text-align: center;
    border: 5px solid #115DAB;
    height: 600px;
    width: 500px;
}

h2 {
    font-size: medium;
    font-weight: 300
}

.Speler ul{
    list-style-type: none;
}
