.title{
    text-align: center;
    color: #FDFDFD;
    padding: 25px;
    margin: 0px;
    background: #115DAB;
}
nav{
    background:#115DAB;
    text-align: center;
    padding:25px
}

.navigationBar a{
    text-align: center;
    background: #F8EB8D;
    color: black;
    padding: 10px 30px;
    margin: 10px 40px;
    border: 2px solid #F8EB8D;
    text-decoration: none;
}